<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <header><menu style="margin-right: 5%; margin-top: 1%; font-size: larger;">
        <a style="margin-right:5%" href="/">Menu</a>
        <a style="margin-right: 5%" href="/notes/1">notes</a>
        <a style="margin-right: 5%" href="/items/1">items</a>
    
    </menu></header>
    <hr>

    <h2> ~ Notes</h2>
    <div>
        {% for note in text %}
        <p>
            {{note.text}}
        </p>
        <hr>
            <br>
        {% endfor %}
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
<style>
    body{
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;

    }
    div, h2{
        padding: 3%;
        margin: 3%;

        
        
    }
    div{
        background-color: aquamarine;
        opacity: 70%;
        
    }
        
</style>